
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">DealerShip</a>
            </div>
            <ul class="nav navbar-nav" id="navigation">
                <li class="active" id="index"><a href="index.php">Home</a></li>
                <li id="cars"><a href="cars.php">Cars for Sale</a></li>
                <li id="dealer"><a href="dealerships.php">Dealerships Locations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="registration/index.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="login/index.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
