#map {
    height: 400px;
    width: 50%;
    float: right;
}

#dealership{
    height: 500px;
    width: 100%;
    border: 1px solid red;
    background-color: #e9e9e9;
    margin: 5px;
    padding: 10px;
}

div h1 {
    width: 50%;

}
div p{
    width: 50%;
}

.indexBody{
    background-image: url("images/cars.jpg");
}



.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activated:after {
    content:'\002B';
}

.filters {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.text{
    background-image: url("images/benz.jpg");
    background-position: 10px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 25px;
}

.text span{
    background-color: #0b2e13;
}